pub fn decode(event : EventType) -> Option<WarthogThrottleEvent>{
    match event{
        EventType::ButtonPressed(_, code) => {
            match code.into_u32(){
                // note these values are calculated from underlying  (kind<<16 | hardware_code)
                // begin button events
                {% for event in button_events %}
                {{event.pressed.encode(kind=1)}}u32 => {Some(WarthogThrottleEvent::{{event.pressed.name}})},
                {% endfor %}
                // end button events

                // begin two-way switch events
                {% for event in two_way_events %}
                {{ event.neutral.encode(kind=1) }}u32 => {Some(WarthogThrottleEvent::{{event.high.name}})},
                {% endfor %}
                // end two-way switch events

                // begin three-way events
                {% for event in three_way_events %}
                {{ event.high.encode(kind=1)}}u32 => {Some(WarthogThrottleEvent::{{event.high.name}})},
                {{ event.low.encode(kind=1)}}u32 => {Some(WarthogThrottleEvent::{{event.low.name}})},
                {% endfor %}
                // end three-way events
                _ => {None}
            }
        }
        EventType::ButtonRepeated(_, code) => {
            unimplemented!()
        }
        EventType::ButtonReleased(_, code) => {
            match code.into_u32(){
                // note these values are calculated from underlying  (kind<<16 | hardware_code)
                // begin button events
                {% for event in button_events %}
                {{event.pressed.encode(kind=1)}}u32 => {Some(WarthogThrottleEvent::{{event.released.name}})},
                {% endfor %}
                // end button events
                // begin two-way switch events
                {% for event in two_way_events %}
                {{ event.neutral.encode(kind=1) }}u32 => {Some(WarthogThrottleEvent::{{event.neutral.name}})},
                {% endfor %}
                // end two-way switch events


                // begin three-way events
                {% for event in three_way_events %}
                {{ event.high.encode(kind=1)}}u32 => {Some(WarthogThrottleEvent::{{event.neutral.name}})},
                {{ event.low.encode(kind=1)}}u32 => {Some(WarthogThrottleEvent::{{event.neutral.name}})},
                {% endfor %}
                // end three-way events

                _ => {None}
            }
        }
        EventType::ButtonChanged(_, value, code) => {
                    unimplemented!()
        }
        EventType::AxisChanged(_, value, code) => {
            unimplemented!()
        }
        EventType::Connected => {
            None
        }
        EventType::Disconnected => {
            None
        }
        EventType::Dropped => {
            None
        }
    }
}
